.container {
    position: relative;
    background-color: #568cd2;
    height: 50vh;
    width: 80vw;
    overflow: hidden;
}

.character {
    position: absolute;
    display: block;
    height: 100px;
    width: 100px;
    top: 0;
    left: 0;
    background-color: #ffd600;
}

// TODO: remove this 
/*.stage {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: calc(10 * 100vw);
  }*/
  
.block {
    position: absolute;
    display: block;
    height: 200px;
    width: 80px;
    top: 0;
    left: 0;
    background-color: red;
}