.container {
    position: relative;
    background-color: #f2f2f2;
    overflow: hidden;
}

.character {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}
  
.block {
    position: absolute;
    display: block;
    height: 200px;
    width: 80px;
    top: 0;
    left: 0;
    background-color: black;
}

.absolute {
    position: absolute;
}